#title {
    text-align:center;
    font-size: 50;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    background-color: navy;
    color: white;
}

#chapter-1 {
    text-align:left;
    font-size: 20;
    font-family: 'Noto Serif SC', serif;
    background-color: navy;
    color: white;
}

#button {
    text-align: center;
    font-size: 25;
    font-family: 'Parisienne', cursive;
    background-color: maroon;
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    background-color: maroon;
    border-color: #8f8b8b #383636 #383636 #8f8b8b;
    border-width: 9px 15px 15px 9px;
    border-style: solid;
    position: relative;
    margin: auto;
    top: 1em;
    padding: 1em;
    width: 9em;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

#button:hover {
    color: #383636;
    font-style: italic;
}

#button:active {
    color: #fff;
}
